.contenedor-general{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 99vw; 
  border: 5px solid black;
}

.panel-login {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 99vw; 
  border: 5px solid black;
}

.sidebar{
  width: 10%;
  height: 100%;
  background-color: rgb(48, 233, 233);
}

.panel{
  width: 90%;
  height: 100%;
  background-color: rgb(223, 183, 226);
}

.tarjeta-login {
  width: 250px;
  height: 500px;
  border: 5px solid rgb(34, 238, 95);
  text-align: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}